services:
  # ----------------------------------------------------------------
  # INFRAESTRUCTURA DE DESARROLLO (Active Profile: local)
  # ----------------------------------------------------------------
  postgres:
    image: postgres:17.3
    container_name: postgres
    restart: always
    profiles: ["local"]
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - ./infrastructure/postgres/data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 10s
      retries: 5

  mosquitto:
    image: eclipse-mosquitto
    container_name: mosquitto
    restart: always
    profiles: ["local"]
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./infrastructure/mosquitto/config:/mosquitto/config
      - ./infrastructure/mosquitto/data:/mosquitto/data
      - ./infrastructure/mosquitto/log:/mosquitto/log

  influxdb:
    image: influxdb:3-core
    container_name: influxdb
    restart: always
    profiles: ["local"]
    ports:
      - "8181:8181" 
    volumes:
      - ./infrastructure/influxdb/data:/var/lib/influxdb3/data
    environment:
      INFLUXD_ADMIN_TOKEN: ${INFLUX_TOKEN}
    command:
      - influxdb3
      - serve
      - --node-id=node0
      - --object-store=file
      - --data-dir=/var/lib/influxdb3/data
      - --http-bind=0.0.0.0:8181


  # ----------------------------------------------------------------
  # SERVICIOS LOCALES (Conectados a Docker Interno)
  # Profile: local
  # ----------------------------------------------------------------
  ingest-local:
    container_name: ingest-local
    profiles: ["local"]
    build:
      # El contexto de construcción debe apuntar a la raíz del monorepo
      context: . 
      dockerfile: services/ingest/Dockerfile
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      mosquitto:
        condition: service_started
    environment:
      # TODO: Cuando se termine el desarrollo cambiar a NODE_ENV: production
      NODE_ENV: development
      
      # ---- Variables para entrypoint (Healthcheck) ----
      DB_USER: ${DB_USER}
      DB_HOST: postgres
      
      # Variables Local
      DATABASE_URL: ${DATABASE_URL_LOCAL}
      MQTT_BROKER_URL: ${MQTT_BROKER_URL_LOCAL}
      INFLUX_URL: ${INFLUX_URL_LOCAL}
      
      MQTT_CLIENT_ID: ${MQTT_CLIENT_ID_INGEST}
      MQTT_USERNAME: ${MQTT_USER_BACKEND}
      MQTT_PASSWORD: ${MQTT_PASS_BACKEND}
      INFLUX_TOKEN: ${INFLUX_TOKEN}
      INFLUX_BUCKET: ${INFLUX_BUCKET}

  scheduler-local:
    container_name: scheduler-local
    profiles: ["local"]
    build:
      # Contexto raíz del monorepo
      context: .
      dockerfile: services/scheduler/Dockerfile
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      mosquitto:
        condition: service_started
      influxdb:
        condition: service_started
    environment:
      # TODO: Cuando se termine el desarrollo cambiar a NODE_ENV: production
      NODE_ENV: development
      
      # ---- Variables para entrypoint ----
      DB_USER: ${DB_USER}
      DB_HOST: postgres
      
      # Variables Local
      DATABASE_URL: ${DATABASE_URL_LOCAL}
      MQTT_BROKER_URL: ${MQTT_BROKER_URL_LOCAL}
      INFLUX_URL: ${INFLUX_URL_LOCAL}
      
      MQTT_CLIENT_ID: ${MQTT_CLIENT_ID_SCHEDULER}
      MQTT_USERNAME: ${MQTT_USER_BACKEND}
      MQTT_PASSWORD: ${MQTT_PASS_BACKEND}
      INFLUX_TOKEN: ${INFLUX_TOKEN}
      INFLUX_BUCKET: ${INFLUX_BUCKET}


  # ----------------------------------------------------------------
  # SERVICIOS CLOUD (Conectados a Internet)
  # Profile: cloud
  # ----------------------------------------------------------------
  ingest-cloud:
    container_name: ingest-cloud
    profiles: ["cloud"]
    build:
      context: . 
      dockerfile: services/ingest/Dockerfile
    restart: always
    # No depende de Mosquitto/Postgres locales
    environment:
      NODE_ENV: production
      DB_USER: ${DB_USER_CLOUD}
      DB_HOST: ${DB_HOST_CLOUD}
      
      # Variables Cloud
      DATABASE_URL: ${DATABASE_URL_CLOUD}
      MQTT_BROKER_URL: ${MQTT_BROKER_URL_CLOUD}
      INFLUX_URL: ${INFLUX_URL_CLOUD}
      
      MQTT_CLIENT_ID: ${MQTT_CLIENT_ID_INGEST}
      MQTT_USERNAME: ${MQTT_USER_BACKEND}
      MQTT_PASSWORD: ${MQTT_PASS_BACKEND}
      INFLUX_TOKEN: ${INFLUX_TOKEN}
      INFLUX_BUCKET: ${INFLUX_BUCKET}

  scheduler-cloud:
    container_name: scheduler-cloud
    profiles: ["cloud"]
    build:
      context: .
      dockerfile: services/scheduler/Dockerfile
    restart: always
    environment:
      NODE_ENV: production
      DB_USER: ${DB_USER_CLOUD}
      DB_HOST: ${DB_HOST_CLOUD}
      
      # Variables Cloud
      DATABASE_URL: ${DATABASE_URL_CLOUD}
      MQTT_BROKER_URL: ${MQTT_BROKER_URL_CLOUD}
      INFLUX_URL: ${INFLUX_URL_CLOUD}
      
      MQTT_CLIENT_ID: ${MQTT_CLIENT_ID_SCHEDULER}
      MQTT_USERNAME: ${MQTT_USER_BACKEND}
      MQTT_PASSWORD: ${MQTT_PASS_BACKEND}
      INFLUX_TOKEN: ${INFLUX_TOKEN}
      INFLUX_BUCKET: ${INFLUX_BUCKET}