/* ---- Contenedor principal de Swiper ---- */
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* ---- Estilo base para cada slide de Swiper ---- */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* ---- Estilo para las imágenes dentro de los slides ---- */
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---- Grosor y tamaño para los iconos de flecha (SVG) de los botones de navegación ---- */
.main-swiper-interactive-area .swiper-button-prev svg,
.main-swiper-interactive-area .swiper-button-next svg {
  width: 18px !important;
  height: 18px !important;
}

/* Engrosar visualmente el icono SVG aplicando stroke del mismo color */
.main-swiper-interactive-area .swiper-button-prev svg path,
.main-swiper-interactive-area .swiper-button-next svg path {
  stroke: currentColor;
  stroke-width: 1px;
}

/* ---- Para que los botones de navegación se posicionen respecto a esta área ---- */
.main-swiper-interactive-area {
  position: relative;
}

/* ---- Visibilidad de Navegación y Paginación del Swiper Principal ---- */
.main-swiper-interactive-area .swiper-button-prev,
.main-swiper-interactive-area .swiper-button-next,
.main-swiper-interactive-area .swiper-pagination {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.main-swiper-interactive-area:hover .swiper-button-prev,
.main-swiper-interactive-area:hover .swiper-button-next,
.main-swiper-interactive-area:hover .swiper-pagination {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
}

/* ---- Estilos para los botones de navegación (circunferencia) ---- */
.main-swiper-interactive-area .swiper-button-prev,
.main-swiper-interactive-area .swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: oklch(0.22 0.01 264.27 / 0.3);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

/* ---- Ocultamiento de botones de navegación cuando están deshabilitados ---- */
.main-swiper-interactive-area .swiper-button-disabled {
  opacity: 0 !important;
  pointer-events: none !important;
  visibility: hidden !important;
  transition: opacity 0.1s ease-out, visibility 0s linear 0.1s !important;
}

/* ---- Estilos para el Swiper de Thumbnails ---- */
.thumbs-swiper {
  height: auto;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ---- Estilos para los slides individuales dentro del Swiper de Thumbnails ---- */
.thumbs-swiper .swiper-slide {
  cursor: pointer;
}